body {
  background-image: url(https://th.bing.com/th/id/R.6603a989aa1952736613fdcad0b3add1?rik=SJJL28FwDwlDEQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-Q-0gTaMnqPY%2fT7GbyxwWvEI%2fAAAAAAAAArc%2fDnINQPmC5fs%2fs1600%2fWrinkledPaperBackground.jpg&ehk=i90SIVavLrfJMgyyjB63K6WZCcb5COpdYLy9nuhCk%2bU%3d&risl=&pid=ImgRaw&r=0);
  background-size: 100%;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-bottom: -6px;
}

li a:hover:not(.active) {
  background-color: #124e78;
}

.active {
  background-color: #417a97;
}

/* Dropdown Styles */
.dropbtn {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-right: 1px solid #bbb;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: arial;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #7fb2ca;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #124e78;
}

/* Gallery Styles */
div.gallery {
  margin: 4px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #193146;
}

div.gallery img {
  width: 100%;
  height: 200px;
}

div.desc {
  padding: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

/* Product Price */
.price {
  color: orangered;
  font-size: 12px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 10px;
}

/* Product Sold Count */
.sold {
  color: rgb(95, 95, 95);
  font-size: 10px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

/* Header Title */
.header-title {
  color: #193146;
  font-family: FZShuTi;
  font-size: 45px;
  margin-bottom: 0%;
  margin-top: auto;
}

/* Footer */
.footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  clear: both;
  padding: 20px;
}

/* Search Bar */
.searching {
  width: 350px;
  height: 33px;
  margin-top: 1mm;
  margin-left: 0.5mm;
  font-size: larger;
}
