body {
  background-image: url(https://th.bing.com/th/id/R.6603a989aa1952736613fdcad0b3add1?rik=SJJL28FwDwlDEQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-Q-0gTaMnqPY%2fT7GbyxwWvEI%2fAAAAAAAAArc%2fDnINQPmC5fs%2fs1600%2fWrinkledPaperBackground.jpg&ehk=i90SIVavLrfJMgyyjB63K6WZCcb5COpdYLy9nuhCk%2bU%3d&risl=&pid=ImgRaw&r=0);
  background-size: 100%;
}
